@font-face {
  font-family: "Ozone";
  src: url("./Ozone.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-image: radial-gradient(circle, #570735, #582354, #513b70, #425186, #2f6595, #2477a4, #1b8ab0, #1e9cb9, #23b3ca, #31cbd9, #45e3e6, #5ffbf1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: inline-block;
  border: 3px  red;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgb(167, 159, 55);
  color: rgb(160, 31, 8);
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #a2272d;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

